@import "../../global.scss";

.carousel .slide img {
  max-width: 60rem;
}
.centre{
  text-shadow: chartreuse;
  text-decoration: solid;
  font-weight: bold;
  font-size:3.5rem;
text-align: center;
color:greenyellow;

}

p.te{font-size: 2rem;
    color:crimson;
    font-weight: 550;
  background-color:aliceblue;}

